{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["airbnb-typescript"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "plugins": ["react", "react-hooks", "prettier"],
  "rules": {
    "react/prop-types":"off",
    "react/destructuring-assignment": "off",
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": ["off"]
  },
  "settings": {
    "import/resolver": {
      "babel-plugin-root-import": {
        "rootPathSuffix": "src"
      }
    }
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parserOptions": {
        "project": ["./tsconfig.json"]
      }
    }
  ]
}
